body {
    background-color: #181825;
    color: #cdd6f4;
    font-family: "Comic Sans MS", cursive;
}

::-webkit-scrollbar {
  width: 0;
}

p {
    color: #a6adc8;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

footer {
    background-color: #11111b;
    min-height: 100px;
}

a {
    text-decoration: none;
    color: #89b4fa;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

#markdown {
    justify-content: space-around;
    padding-left: 320px;
}

input, textarea {
    border-radius: 10px;
    padding: 10px;
    background-color: #313244;
    color: #bac2de;
    border: #1e1e2e solid 2px;
    min-width: 400px;
}
input:focus, textarea:focus {
    outline: #f38ba8;
    border: #f38ba8 solid 2px;
}
